@page
@model eStoreClient.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<p>
    <a asp-page="Prepare">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @String.Format("{0:N}", item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Email)
                </td>
                <td>
                    <div class="d-flex flex-row">
                        @if (Model.IsStaff)
                        {
                            <a asp-page="./Edit" asp-route-order-id="@item.OrderId">Edit</a> <div class="mx-2">|</div>
                        }
                        <a asp-page="./Details" asp-route-order-id="@item.OrderId">Details</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
