@page
@using System.Collections.Generic;
@using eStoreClient.Constants
@model eStoreClient.Pages.Carts.DetailsModel
@{
    ViewData["Title"] = "Cart";
    var cart = Model.Cart;
}

<h1>Order Items</h1>

<a asp-page="/Carts/Create" class="btn btn-primary mb-2">Add Product to Order</a>
<a asp-page="/Orders/Prepare" class="btn btn-outline-primary mb-2">Create Order</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cart.CartDetails.First().ProductItem.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart.CartDetails.First().ProductItem.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart.CartDetails.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart.CartDetails.First().Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartDetail in cart.CartDetails)
        {
            <tr>
                <td>
                    @cartDetail.ProductItem.ProductName
                </td>
                <td>
                    @String.Format("{0:N}", cartDetail.ProductItem.UnitPrice) VND
                </td>
                <td>
                    @cartDetail.Quantity
                </td>
                <td>
                    @cartDetail.Discount
                </td>
                <td>
                    <a asp-page="@PageRoute.CartEdit" asp-route-item-index="@cart.CartDetails.FindIndex(cd => cd == cartDetail)">Edit</a> | 
                    <a asp-page="@PageRoute.CartDelete" asp-route-item-index="@cart.CartDetails.FindIndex(cd => cd == cartDetail)">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>